*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}
body {
    font-family: "Source Code Pro", monospace;
  }
  html{
    scroll-behavior: smooth;
  }
.nav{
    background-color: #000000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky ;
    top: 0;
    z-index: 9;
    

  }
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
   
  }
.nav-list a{

    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    transition: 0.4s;
  }
.nav-list a:hover{
    color: rgb(56, 56, 56);
  }
.main{
    width: 100%;
    z-index: 1;
    height: calc(110vh - 80px);
    display: flex;
    align-items: center;
    padding-left: 10%;
    text-decoration: none;
 

  }
  .video{
    position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
 
   z-index: -1;
border: 0;

  }
  @media(min-aspect-ratio:16/9){
   .video{
    width: 100%;
    height: auto;
   
   }
  }
  @media(max-aspect-ratio:16/9){
    .video{
     width: auto;
     height: 100%;

    }
   }
.main h1{
    color: white ;
    font-size: 54px;
  }
.main p{
    font-size: 24px;
    font-style: italic;
    color: rgb(148, 148, 148);
    margin-top: 10px;
    margin-bottom: 35px;
  }
.buton{
    cursor: pointer;
    background-color: #000000;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
  }

.buton:hover{
    transform: scale(110%);
    background-color: #ffffff;
    color: #000000;
  }

.sobre{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 10%;
    padding-right: 10% ;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
justify-content: space-between;

  }
.sobre div{
    max-width: 50%;
    padding-right: 50px;
  }
.sobre img {
    max-width: 450px;
    border-radius: 8px;

  }
.sobre div h2{
    font-size: 40px;
    padding-bottom :30px ;
  }
.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding: 80px 0 ;

  }
  .projetos h2 a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Faz o link herdar a cor do elemento pai (h2) */
    transition: 1s;
  }
  .projetos h2 a:hover {
    color: gray;
    font-size: 30px;
   
}
.projetos h2{
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 20px;
    text-decoration: none;
  }

.projetos p{
    margin-bottom: 40px;
    font-style: italic;
    

    }
    .fotos {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
      grid-gap: 20px; /* Espaçamento entre as imagens */
      width: 80%; /* Largura total da galeria */
      margin: auto;
      margin-left: 300px;
      margin-right: 200px;
  }
  
  .projetos img {
      width: 80%; /* Faz com que as imagens ocupem o espaço da coluna */
      height: auto; /* Mantém a proporção original das imagens */
      border-radius: 4%; /* Arredonda as bordas das imagens */
      opacity: 0.8;
      transition: opacity 0.5s;
  }
  
  .fotos img:hover {
      opacity: 1; /* Remove a opacidade no hover */
  }

 